---
import Layout from "@/layouts/Layout.astro";
import { Button } from "@/components/ui/button";
import Link from "next/link";
import { MdKeyboardArrowRight } from "react-icons/md";
import { astroI18n, t } from "astro-i18n";

astroI18n.locale;
const pageName = t("header.404");
---

<Layout pageName={pageName}>
  <div
    class="px-4 sm:px-8 flex flex-col items-center content-stretch justify-center gap-10 md:gap-20 flex-nowrap grow pt-20 lg:pt-32"
  >
    <h1 class="text-4xl sm:text-6xl font-primary text-red-400 font-extrabold">
      404
    </h1>
    <h1 class="text-4xl sm:text-6xl font-primary text-primary-light">
      {t("404.pageDoesntExist")}
    </h1>
    <p class="text-sm font-primary -mt-10">
      {t("404.explanation")}
    </p>
    <Button
      variant="outline"
      size="sm"
      className="font-primary bg-primary-light rounded-2xl text-white hover:bg-blue-400"
    >
      <Link href="/" className="flex flex-row gap-2 items-center">
        {t("404.backHome")}
        <MdKeyboardArrowRight />
      </Link>
    </Button>
  </div>
</Layout>
