---
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";
import { DonationButton } from "@/components/DonationButton";

import { Actions } from "@/components/Actions";
import { DonationProgressBar } from "../components/DonationProgressBar";

import arrow from "@/assets/arrow.png";
import kgetlengrivier from "@/assets/kgetlengrivier.svg";
import logonobg from "@/assets/logo-nobg.svg";

const pageName = "Home";
---

<Layout pageName={pageName}>
  <!-- Tooltip -->
  <div
    id="tooltip"
    class="text-xs absolute right-20 top-20 z-20 flex flex-col items-end invisible md:visible transition-opacity duration-300"
  >
    <Image
      src={arrow}
      alt="Arrow pointing towards language choosing menu"
      class=""
    />
    <p class="max-w-40 font-secondary">
      psst... click me to change language! / klik my om die taal te verander!
    </p>
  </div>

  <script>
    if (typeof window !== "undefined") {
      window.addEventListener("scroll", () => {
        const tooltip = document.getElementById("tooltip");
        if (!tooltip) return;
        if (window.scrollY > 10) {
          tooltip.style.opacity = "0";
          tooltip.style.pointerEvents = "none";
        } else {
          tooltip.style.opacity = "1";
          tooltip.style.pointerEvents = "";
        }
      });
    }
  </script>

  <!-- Hero layout -->
  <div
    class="px-4 sm:px-8 flex flex-col md:flex-row items-center content-stretch justify-center gap-10 md:gap-20 flex-nowrap grow mt-10 lg:mt-20"
  >
    <div
      class="flex flex-col md:flex-row items-start gap-6 md:gap-10 w-full max-w-5xl mx-auto"
    >
      <div class="flex-shrink-0 max-w-md w-full md:w-auto mb-6 md:mb-0">
        <Image
          src={kgetlengrivier}
          alt="Een kaart die de ligging van Kgetlengrivier in Zuid-Afrika aangeeft"
          class="w-full h-auto"
        />
      </div>
      <div
        class="w-full h-auto flex items-start content-stretch justify-center gap-x-1 gap-y-5 flex-col flex-nowrap"
      >
        <h1
          class="font-primary font-semibold text-4xl md:text-6xl text-primary-light"
        >
          <i>Hoi,</i> ik ben Mart.
        </h1>
        <p
          class="text-wrap max-w-100 lg:max-w-150 font-primary font-extralight text-secondary-light"
        >
          De meesten van jullie kennen me waarschijnlijk al, maar ik zal me toch
          even voorstellen. Ik ben Mart, 15 jaar, ik kom uit Barneveld en zit op
          het JFC. In 2027 ga ik met <a
            href="https://shib.nl"
            target="_blank"
            class="text-primary-light underline">Shib</a
          > naar Zuid-Afrika om daar mensen te helpen en bijvoorbeeld te helpen shacks
          te repareren en nieuwe gebouwen te bouwen. Kijk gerust op de <a
            href="https://shib.nl"
            target="_blank"
            class="text-primary-light underline">website</a
          > van Shib als je meer wilt weten. Ik heb € 3000 nodig voor deze reis en
          dat krijg je niet zomaar bij elkaar. Daarom doen we samen met de groep
          een aantal acties om geld op te halen. Spontane donaties worden natuurlijk
          ook altijd op prijs gesteld. Deze website (die ik zelf ontworpen en geprogrammeerd
          heb) is voor mij ook één van de manieren om geld op te halen.
        </p>
        <div class="flex flex-col lg:flex-row gap-2 lg:gap-4">
          <DonationButton client:load />
          <p class="font-primary px-1">
            <i><b>of lees hieronder verder</b></i>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Information about actions -->
  <div class="w-full h-auto bg-primary-light mt-25">
    <h1
      class="text-primary-dark text-4xl md:text-6xl font-primary font-normal p-5 md:p-10"
    >
      <i>Acties</i>, klik voor meer informatie
    </h1>
    <div class="px-20">
      <Actions client:load />
    </div>

    <!-- Bar that shows how many money has been donated -->
    <h1
      class="text-primary-dark text-4xl md:text-6xl font-primary font-normal p-5 md:p-10 text-right"
    >
      <i>Hoeveel</i> geld is er al opgehaald?
    </h1>
    <div class="px-5 md:px-10 pb-5 md:p-10">
      <DonationProgressBar client:load current={393} goal={3000} />
      <p class="text-xs text-gray-200 font-primary py-2 md:p-5">
        *Wordt één keer in de vier weken geüpdate. Wijzigingen voorbehouden.
        Geeft mogelijk niet een accurate weergave van het werkelijk opgehaalde
        bedrag.
      </p>
    </div>
  </div>

  <!-- A call to donate -->
  <div class="w-full h-auto px-5 md:px-10 py-10 md:py-5">
    <div class="flex items-center gap-4">
      <h1
        class="text-4xl md:text-6xl font-semibold font-primary text-primary-light m-0"
      >
        <i>Doneer nu!</i>
      </h1>
      <a
        href="#"
        class="text-base md:text-lg text-primary-light font-primary underline"
        >Ga terug naar boven voor de doneerknop</a
      >
    </div>

    <div class="flex items-center gap-4">
      <Image src={logonobg} alt="M4rt.nl Logo" />
      <p class="text-lg font-primary font-light">
        zielman@m4rt.nl | +31 6 85550282
      </p>
    </div>
  </div>
</Layout>
