<h1>Je gebruikt een mobiele telefoon!</h1>

<p>
  Niks mis mee hoor, je kunt deze website gewoon gebruiken. Ik heb wel wat
  aanpassingen gedaan om ervoor te zorgen dat hij er ook mooi uitziet op mobiele
  telefoons. Maar voor het beste resultaat bekijk je de website op je computer.
  Daar heeft hij namelijk iets meer opties.
</p>

<!-- Button (Shadcn) to redirect to homepage -->
