---
import { LanguageSelect } from "@/components/LanguageSelect";
---

<div
  class="flex items-center justify-between px-6 md:px-12 top-0 left-0 right-0 select-none fixed z-100"
>
  <div class="invisible md:visible">
    <img src="/logo.svg" alt="m4rt.nl Logo" />
  </div>
  <LanguageSelect client:load />
</div>
